body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    background-image: linear-gradient(white, lightblue);
    overflow: hidden; 
}

.container {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

select {
    font-size: large;
}

p {
    font-size: large;
}

button {
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: large;
}

button:hover {
    background-color: #0056b3;
}

#weather-result {
    margin-top: 20px;
}

/* Media Queries */
@media (max-width: 768px) {
    body {
        background-size: contain; /* Adjust for tablets and smaller screens */
    }
    .container {
        max-width: 90%; /* Use more width on smaller screens */
        margin: 30px auto; /* Adjust top margin */
    }
}

@media (max-width: 480px) {
    .container {
        padding: 15px; /* Less padding on smaller screens */
    }
    h1 {
        font-size: 1.5em; /* Smaller heading */
    }
    button {
        width: 100%; /* Full-width buttons on small screens */
    }
}